{{ attach_library('milken/opportunity_detail') }}

{% set hubUrl = content.field_hub.0['#url'] %}

<div class="jumbotron mb-3" style="padding: 3rem;">

  {% if hubUrl %}
  <p><a href="{{ hubUrl }}"> {{ content.field_hub.0['#title'] }}</a></p>
  {% endif %}

  <div class="header-inner" style="max-width: 900px;">
    <h1 class="display-4" >{{ node.label }}</h1>
    <p class="lead">{{ node.field_body.0.value | raw }}</p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{node.field_url.0.url}}" role="button">{{ node.field_url.0.title }}</a>
    </p>
  </div>

  <hr class="my-4">

  <a href="{{hubUrl}}?focus=health" class="btn btn-primary tag-badge" style="background-color: #FF0000">Health</a>
  <a href="{{hubUrl}}?focus=social" class="btn btn-primary tag-badge" style="background-color: #00FF00">Social</a>
  <a href="{{hubUrl}}?action=donation" class="btn btn-primary tag-badge">Donation</a>
  <a href="{{hubUrl}}?action=information_gathering" class="btn btn-primary tag-badge">Information Gathering</a>

</div>

{# NOTE: All the long content except summary #}
{# {{ content|without('body') }} #}

<div class="container pt-4 pb-4">
  <h3>Some title</h3>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel consectetur odio. Etiam mollis auctor pretium. Duis metus arcu, molestie eget semper vitae, fermentum in nisl. Mauris aliquet posuere neque, vitae pharetra elit faucibus sed. Quisque tincidunt ac odio quis aliquet. Quisque sit amet dui ut augue tincidunt dignissim. Donec gravida interdum aliquam. Morbi mauris magna, fringilla a varius et, fringilla sed ante. Phasellus ipsum velit, pretium at accumsan ut, varius et arcu. Nam egestas lacus at leo fermentum, eu blandit felis rhoncus. Etiam a accumsan ante. Donec at ullamcorper elit, eu efficitur ligula. Phasellus elit turpis, ultrices at tellus quis, iaculis pulvinar arcu. Fusce non arcu eu sapien maximus semper et sagittis nulla. Praesent sodales finibus maximus.
  </p>
  <p>
  Duis sit amet tincidunt odio. Sed eget ultrices risus. Aliquam tempor purus non nibh fringilla, sed aliquet diam tristique. Integer pharetra tempor mi ut gravida. Quisque quis ultricies sapien, et ullamcorper metus. Suspendisse ac eleifend ex. Ut suscipit luctus tellus ac consectetur. Etiam vitae diam pretium, cursus nisi a, eleifend neque. Aenean molestie imperdiet mauris vel tempor. In cursus lacus tellus, eget tempus ipsum mattis non. Aenean scelerisque, tortor sed porttitor molestie, nisl nisl cursus mauris, egestas lacinia sem sem in ligula. Duis dapibus justo vitae vehicula euismod. Ut non elit eu sapien posuere condimentum tristique id tortor. Sed nec arcu in purus lobortis pharetra vel quis orci. Quisque tempus ipsum diam, quis mattis justo vestibulum consequat.
  </p>
</div>
