<style>

  #hub-opportunity-jumbotron {
    background-color: #0066CB; 
    color: white; 
    padding: 3em 0;
  }

  #hub-opportunity-body-wrapper.container-fluid,
  #hub-opportunity-jumbotron .container-fluid {
    padding: 0 5%;
  }

  #opportunity-hub-link {
    font-size: 1.25em; 
    font-family: 'Lato'; 
    font-weight: 900; 
    font-style: italic; 
    color: #fff;
  }

  #opportunity-tags-wrapper .badge-pill,
  #opportunity-tags-wrapper-test .badge-pill {
     line-height: 1.8em; 
     padding-left: 1em; 
     padding-right: 1em; 
     margin-right: 0.33em; 
     margin-bottom: 0.33em; 
     letter-spacing: 0.05em; 
     text-transform: uppercase;
  }

  #opportunity-tags-wrapper .badge-pill a,
  #opportunity-tags-wrapper-test .badge-pill a {
    color: white;
    text-decoration: none;
  }
</style>


<div class="jumbotron mb-3" id="hub-opportunity-jumbotron">
  <div class="container-fluid">
    <div class="header-inner col-md-12 col-xl-7">
      {% if node.field_hub.0.entity.label %}
        <p><a id="opportunity-hub-link" href="/hub/{{ node.field_hub.0.entity.label | lower }}">{{ node.field_hub.0.entity.label | upper }} OPPORTUNITY</a></p>
      {% else %}
        <p><a id="opportunity-hub-link" href="/explore/hubs">OPPORTUNITY</a></p>
      {% endif %}

      <h1>{{ node.getTitle() }}</h1>
      <div id="opportunity-tags-wrapper">

        {% for item in node.field_actions %}
          {% if item.entity.field_visibility.value %}
                <div class="badge badge-pill badge-primary" style="background-color: {{ item.entity.field_tag_color.value.0.color }};">
                  <a href="/hub/philanthropy#actions={{ item.entity.label | lower }}">{{ item.entity.label | upper }}</a>
                </div>
          {% endif %}
        {% endfor %}
      
        {% for item in node.field_focus %}
          {% if item.entity.field_visibility.value %}
                <div class="badge badge-pill badge-primary" style="background-color: {{ item.entity.field_tag_color.value.0.color }};">
                  <a href="/hub/philanthropy#focus={{ item.entity.label | lower }}">{{ item.entity.label | upper }}</a>
                </div>
          {% endif %}
        {% endfor %}

        {% for item in node.field_region %}
          {% if item.entity.field_visibility.value %}
                <div class="badge badge-pill badge-primary" style="background-color: {{ item.entity.field_tag_color.value.0.color }};">
                  <a href="/hub/philanthropy#region={{ item.entity.label | lower }}">{{ item.entity.label | upper }}</a>
                </div>
          {% endif %}
        {% endfor %}

        {% for item in node.field_terms %}
          {% if item.entity.field_visibility.value %}
                <div class="badge badge-pill badge-primary" style="background-color: {{ item.entity.field_tag_color.value.0.color }};">
                  <a href="/hub/philanthropy#terms={{ item.entity.label | lower }}">{{ item.entity.label | upper }}</a>
                </div>
          {% endif %}
        {% endfor %}
      
      </div>

      <div id="opportunity-header-wrapper">
        <div style="margin-top: 2em; margin-bottom: 3em;">
          {{ content.field_short_summary }}
        </div>

        <a href="{{ content.field_url.0['#url'] | render }}" style="margin-right: 15px; color: #fff; font-size: 14px; font-family: 'LatoWebBlack'; background-color: #FF6237; padding: 18px; vertical-align: middle; text-decoration: none; text-transform: uppercase; letter-spacing: 2px;">{{ content.field_url.0['#title'] | render }}</a>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="hub-opportunity-body-wrapper">
  {{ content.field_long_description }}
</div>


{# Attempt at making twig dynamically decide if a field is a reference taxonomy for displaying the tag pills
     <pre>{{ dump( node.field_body.0 | keys ) }}</pre><br>
     <pre>{{ dump( node | keys ) }}</pre><br>
{% for item in node %} 
   {% if item.0.entity.id() %}
     FIELD IS A REF FIELD: {{ item.entity.label }}; <br>
     <pre>{{ dump( item.0 | keys ) }}</pre><br>
   {% endif %}
{% endfor %}

{#

{{ attach_library('milken/opportunity_detail') }}

<opportunity-detail
  id="opportunity-detail-{{ node.uuid.value }}"
  data-uuid="{{ node.uuid.value }}"
  data-entity-type-id="node"
  data-bundle="{{ node.bundle }}"
  data-view-mode="{{ view_mode }}"
>
  {% if node.field_actions %}
    {{ node.field_actions | view }}
  {% endif %}
  {% if node.field_body %}
    {{ node.field_body | view }}
  {% endif %}
  {% if node.field_focus %}
    {{ node.field_focus | view }}
  {% endif %}
  {% if node.field_hub %}
    {{ node.field_hub | view }}
  {% endif %}
  {% if node.field_region %}
    {{ node.field_region | view }}
  {% endif %}
  {% if node.field_terms %}
    {{ node.field_terms | view }}
  {% endif %}
  {% if node.field_url %}
    {{ node.field_url | view }}
  {% endif %}
</opportunity-detail>

#}
