{% if eck_entity %}
  <div class="row"
    {% if eck_entity.get('field_background_color').value.color != 'transparent' %}
      style="background-color: {{ eck_entity.get('field_background_color').value.color }}"
    {% endif %}
  >
    {% if eck_entity.get('field_photo_position').value == 'left' %}
    <div class="col col-lg-6 col-sm-12"
         style="
         {% if eck_entity.get('field_background_image').entity %}
           background-image: url({{ file_url(eck_entity.get('field_background_image').entity.uri.value) }});
           background-position: center;
           background-clip: content-box;
           background-repeat: no-repeat;
           background-size: cover;
           min-height: 650px;
         {% endif %}
           ">
    </div>
    <div class="col col-lg-6 col-sm-12 align-items-center">
      <div class="container">
        <h1 class="display-3">{{ eck_entity.get('title').value }}</h1>
        <p class="lead">{{ eck_entity.get('field_subtitle').value }}</p>
        <hr class="my-4">
        <p><a href="{{ eck_entity.get('field_link').uri }}"
              class="btn btn-primary btn-lg">{{ eck_entity.get('field_link').title }}</a></p>
      </div>
    </div>
    {% else %}
    <div class="col col-lg-6 col-sm-12 align-items-center"
         style="color: {{ eck_entity.get('field_text_color').value.color }}">
      <div class="container">
        <h1 class="display-3">{{ eck_entity.get('title').value }}</h1>
        <p class="lead">{{ eck_entity.get('field_subtitle').value }}</p>
        <hr class="my-4">
        <p><a href="{{ eck_entity.get('field_link').uri }}"
              class="btn btn-primary btn-lg">{{ eck_entity.get('field_link').title }}</a></p>
      </div>
    </div>
    <div class="col col-lg-6 col-sm-12"
         style="
         {% if eck_entity.get('field_background_image') %}
           background-image: url({{ file_url(eck_entity.get('field_background_image').entity.uri.value) }});
           background-position: center;
           background-clip: content-box;
           background-repeat: no-repeat;
           background-size: cover;
           min-height: 650px;
         {% endif %}
           ">
      {% endif %}
    </div>
  </div>
{% endif %}
