{{ attach_library('milken_base/slide_display') }}
{% set view_mode = elements['#view_mode'] %}
{% set background_image = eck_entity.get('field_background_image').entity %}
{% set slide_text = eck_entity.get('field_slide_text') %}

<span id="slide-{{ eck_entity.get('uuid').value }}" class="slide-display-custom-element">
  <slide-display
    id="slide-display-{{ eck_entity.get('uuid').value }}"
    data-background-color="{{ eck_entity.get('field_background_color').value.color | default ("#000000")  }}"
    data-background-opacity="{{ eck_entity.get('field_background_color').value.opacity | default("1") }}"
    data-text-color="{{ eck_entity.get('field_text_color').value.color | default("#ffffff") }}"
    data-text-opacity="{{ eck_entity.get('field_text_color').value.opacity | default("1") }}"
    data-view-mode="{{ view_mode }}"
    data-entity-type-id="{{ eck_entity.getEntityTypeId }}"
    data-bundle="{{ eck_entity.bundle }}"

    changed="{{ eck_entity.get('changed').value }}"
    created="{{ eck_entity.get('created').value }}"

  >
    <span slot="id">{{ eck_entity.get('uuid').value }}</span>
    <span slot="slide-text">
      {% if slide_text %}
        {% for line in slide_text %}
          <span class="{{ line.key }}">{{ line.value }}</span>
        {% endfor %}
      {% endif %}
    </span>
    {% if eck_entity.get('title') %}
      <span slot="title">{{ eck_entity.get('title').value }}</span>
    {% endif %}

    <span slot="background-image-thumbnail">
      <img src="{{ node.field_image.entity.uri.value | image_style('thumbnail') }} " />
    </span>
  </slide-display>
</span>



