{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
    {% block navbar %}
        {{ page.navigation }}
    {% endblock %}
{% endif %}
 
{# Main #}
{% block main %}
    <div role="main" class="main-container {{ container }} js-quickedit-main-content seba">
        <div class="row">

            {# Header #}
            {% if page.header %}
                {% block header %}
                    <div class="col-sm-12" role="heading">
                        {{ page.header }}
                    </div>
                {% endblock %}
            {% endif %}

            {# Sidebar First #}
            {% if page.sidebar_first %}
                {% block sidebar_first %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_first }}
                    </aside>
                {% endblock %}
            {% endif %}

            {# Content #}
            {% set content_classes = [
                page.sidebar_first and page.sidebar_second ? 'col-sm-6',
                page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
                page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
                page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
            ] %}
            <section{{ content_attributes.addClass(content_classes) }}>

                {# Highlighted #}
                {% if page.highlighted %}
                    {% block highlighted %}
                        <div class="highlighted">{{ page.highlighted }}</div>
                    {% endblock %}
                {% endif %}

                {# Help #}
                {% if page.help %}
                    {% block help %}
                        {{ page.help }}
                    {% endblock %}
                {% endif %}
                {% if page.featured_content_1 %}
                    <section class="layout-featured-content layout-featured-content-1" role="complementary">
                        {{ page.featured_content_1 }}
                    </section>
                {% endif %}
                {% if page.featured_content_2 %}
                    <section class="layout-featured-content layout-featured-content-2" role="complementary">
                        {{ page.featured_content_2 }}
                    </section>
                {% endif %}
                {% if page.featured_content_3 %}
                    <section class="layout-featured-content layout-featured-content-3" role="complementary">
                        {{ page.featured_content_3 }}
                    </section>
                {% endif %}
                {% if page.featured_content_4 %}
                    <section class="layout-featured-content layout-featured-content-4" role="complementary">
                        {{ page.featured_content_4 }}
                    </section>
                {% endif %}
                {% if page.featured_content_5 %}
                    <section class="layout-featured-content layout-featured-content-5" role="complementary">
                        {{ page.featured_content_5 }}
                    </section>
                {% endif %}
                {% if page.featured_content_6 %}
                    <section class="layout-featured-content layout-featured-content-6" role="complementary">
                        {{ page.featured_content_6 }}
                    </section>
                {% endif %}
                {% if page.featured_content_7 %}
                    <section class="layout-featured-content layout-featured-content-7" role="complementary">
                        {{ page.featured_content_7 }}
                    </section>
                {% endif %}
                {% if page.featured_content_8 %}
                    <section class="layout-featured-content layout-featured-content-8" role="complementary">
                        {{ page.featured_content_8 }}
                    </section>
                {% endif %}
                {% if page.featured_content_9 %}
                    <section class="layout-featured-content layout-featured-content-9" role="complementary">
                        {{ page.featured_content_9 }}
                    </section>
                {% endif %}
                {# Content #}
                {% block content %}
                    <a id="main-content"></a>
                    {{ page.content }}
                {% endblock %}
            </section>

            {# Sidebar Second #}
            {% if page.sidebar_second %}
                {% block sidebar_second %}
                    <aside class="col-sm-3" role="complementary">
                        {{ page.sidebar_second }}
                    </aside>
                {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}