{%  if content['#node'] is not empty %}
  {% set node = content['#node'] %}
  {% set background_image = node.field_background_image %}
  {% set background_color = node.field_background_color %}
  {% set text_color = node.field_text_color %}
  <div class="jumbotron d-block align-items-center"
       style="
       {% if background_image.entity %}
          background-image: url({{ file_url( background_image.entity.uri.value ) }});
          background-position: center;
          background-clip: content-box;
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 650px;
       {% endif %}
       {% if background_color.value[0] %}
          background-color: {{ background_color.value[0].color }};
       {% endif %}
         ">
    <div class="container">
      <h1 class="display-3"
        {% if text_color.value[0] %}
          style="color: {{ text_color.value[0].color  }}"
        {% endif %}
      >{{ node.title.value }}</h1>
      {% if node.field_subtitle %}
        <p class="lead"
          {% if text_color.value[0] %}
            style="color: {{ text_color.value[0].color }}"
          {% endif %}
        >{{ node.field_subtitle.value }}</p>
      {% endif %}
      <hr class="my-4"
        {% if text_color.value[0] %}
          style="color: {{ text_color.value[0].color }}"
        {% endif %}
      >
      {% if node.field_link %}
        <p><a href="{{ node.field_link.uri }}" class="btn btn-primary btn-lg">{{ node.field_link.title }}</a></p>
      {% endif %}
  </div>
{%  else %}
<div class="color-error">
  Node has no data
</div>
{% endif %}
